*{
	/*reset*/
	margin:0;
	padding:0;
	box-sizing: border-box;

}

body{
	/*background: url(../images/bg.jpeg);*/
	font-family: 'Thasadith', sans-serif;
	max-width:100%;

}

.navbar{
	background-color:rgba(255,255,255, 0.9);
	margin: 0px;
    padding:0px;
	z-index:100;
}

.navbar .navbar-nav .nav-item{
	padding:0px;
	font-size:20px;
	margin: 0px;
}


.navbar-nav {
    display:table;
    width:100%;
    margin: 0px;
    padding:0px;
}

.navbar-nav > li {
    float:none;
    display:table-cell;
    text-align:center;
}


#home{
min-height: 100vh;
background: url(../images/bg1.jpeg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.main-heading{
color: #000000;
text-align: center;
font-size: 150px;
}

#name{
text-align: right;
}


img {
  border-radius: 50%;
  height:auto;
  width:300px;
}

#avatar1{
	margin-top:50px;
}

.about-content1{
	background-color:rgba(255,255,255, 0.8);
	padding:10px;
	height:500px;
	margin-top:80px;
}

#about{
background: url(../images/bg2.jpeg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.slide1{
	min-height: 100vh;
}
.slide2{
	min-height: 100vh;
}


.img-fluid{
	border-radius: 50%;
	width: auto;
	height:300px;
	border-style:20px;
	border-color:rgba(255,255,255, 0.8);
}

.card{
background-color:rgba(255,255,255, 0.5);
border-radius: 50%;
padding:10px;
}

#project-content{
	padding:10px;
}

#project-title{
	background-color:rgba(255,255,255, 0.5);
	margin-top:80px;
}

#projects{
	min-height: 100vh;
	background: url(../images/bg3.jpeg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

#skills{
	min-height: 100vh;
	background: url(../images/bg4.jpeg) center center no-repeat;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  background-size: cover;
}

#skills-content{
	padding:10px;
}

#skills-title{
	background-color:rgba(255,255,255, 0.8);
	margin-top:80px;
}

.progress{
	height:100px;
}

#contact{
	min-height: 100vh;
	background: url(../images/bg5.jpeg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

#contact-content{
	padding:10px;
	font-weight:50px;
}

#contact-title{
	background-color:rgba(255,255,255, 0.5);
	margin-top:80px;
}

.form-group{
	font-size: 20px;
	font-style: solid black;
}

form{
	background-color:rgba(255,255,255, 0.5);
	padding:50px;
}

footer{
	background: url(../images/bg.jpeg);
	color: white;
	font-size: 16px
}

.jumbotron{
text-align:center,
width:100%,
padding: 40px;
}

.container-fluid{
	background: none;
}

.navbar-toggler-icon{
	width: 20px;
}

@media only screen and (max-width: 575px) {

.skills{
	width: 300px;
}

.main-heading{
color: #000000;
text-align: center;
font-size: 60px;
}


}